In [37]:
#cd "D:\kaggle stuff\obesity lol"
import os
os.getcwd()

'D:\\kaggle stuff\\obesity lol'

In [39]:
%config IPCompleter.greedy=True
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
data = pd.read_csv("D:\\kaggle stuff\\obesity lol\\train\\train.csv")
data.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,Male,24.443011,1.699998,81.669950,yes,yes,2.000000,2.983297,Sometimes,no,2.763573,no,0.000000,0.976473,Sometimes,Public_Transportation,Overweight_Level_II
1,1,Female,18.000000,1.560000,57.000000,yes,yes,2.000000,3.000000,Frequently,no,2.000000,no,1.000000,1.000000,no,Automobile,Normal_Weight
2,2,Female,18.000000,1.711460,50.165754,yes,yes,1.880534,1.411685,Sometimes,no,1.910378,no,0.866045,1.673584,no,Public_Transportation,Insufficient_Weight
3,3,Female,20.952737,1.710730,131.274851,yes,yes,3.000000,3.000000,Sometimes,no,1.674061,no,1.467863,0.780199,Sometimes,Public_Transportation,Obesity_Type_III
4,4,Male,31.641081,1.914186,93.798055,yes,yes,2.679664,1.971472,Sometimes,no,1.979848,no,1.967973,0.931721,Sometimes,Public_Transportation,Overweight_Level_II

In [49]:
for column in obj_columns:
    unique_vals = obj_columns[column].unique()
    print(f"Unique values in column '{column}': {unique_vals}")
#As a result, we can see that all the object variables could be converted to caegorical variables

Unique values in column 'Gender': ['Male' 'Female']
Unique values in column 'family_history_with_overweight': ['yes' 'no']
Unique values in column 'FAVC': ['yes' 'no']
Unique values in column 'CAEC': ['Sometimes' 'Frequently' 'no' 'Always']
Unique values in column 'SMOKE': ['no' 'yes']
Unique values in column 'SCC': ['no' 'yes']
Unique values in column 'CALC': ['Sometimes' 'no' 'Frequently']
Unique values in column 'MTRANS': ['Public_Transportation' 'Automobile' 'Walking' 'Motorbike' 'Bike']
Unique values in column 'NObeyesdad': ['Overweight_Level_II' 'Normal_Weight' 'Insufficient_Weight'
 'Obesity_Type_III' 'Obesity_Type_II' 'Overweight_Level_I'
 'Obesity_Type_I']

In [41]:
print(data.info())
print(data.describe())
#print(data.isnull().sum()) Commented out as there are no null values
int_columns = data.select_dtypes(include=['float64'])
obj_columns = data.select_dtypes(include=['object'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20758 non-null  int64
 1   Gender                          20758 non-null  object
 2   Age                             20758 non-null  float64
 3   Height                          20758 non-null  float64
 4   Weight                          20758 non-null  float64
 5   family_history_with_overweight  20758 non-null  object
 6   FAVC                            20758 non-null  object
 7   FCVC                            20758 non-null  float64
 8   NCP                             20758 non-null  float64
 9   CAEC                            20758 non-null  object
 10  SMOKE                           20758 non-null  object
 11  CH2O                            20758 non-null  float64
 12  SCC                             20758 non-null  object
 13  FAF                             20758 non-null  float64
 14  TUE                             20758 non-null  float64
 15  CALC                            20758 non-null  object
 16  MTRANS                          20758 non-null  object
 17  NObeyesdad                      20758 non-null  object
dtypes: float64(8), int64(1), object(9)
memory usage: 2.9+ MB
None
                id           Age        Height        Weight          FCVC  \
count  20758.00000  20758.000000  20758.000000  20758.000000  20758.000000
mean   10378.50000     23.841804      1.700245     87.887768      2.445908
std     5992.46278      5.688072      0.087312     26.379443      0.533218
min        0.00000     14.000000      1.450000     39.000000      1.000000
25%     5189.25000     20.000000      1.631856     66.000000      2.000000
50%    10378.50000     22.815416      1.700000     84.064875      2.393837
75%    15567.75000     26.000000      1.762887    111.600553      3.000000
max    20757.00000     61.000000      1.975663    165.057269      3.000000

                NCP          CH2O           FAF           TUE
count  20758.000000  20758.000000  20758.000000  20758.000000
mean       2.761332      2.029418      0.981747      0.616756
std        0.705375      0.608467      0.838302      0.602113
min        1.000000      1.000000      0.000000      0.000000
25%        3.000000      1.792022      0.008013      0.000000
50%        3.000000      2.000000      1.000000      0.573887
75%        3.000000      2.549617      1.587406      1.000000
max        4.000000      3.000000      3.000000      2.000000

In [51]:
#Getting the heatmap to check the correlations out according to the target variable "NObeyesdad"
plt.figure(figsize=(8,12))
heatmap = sns.heatmap(data.corr()[['NObeyesdad']].sort_values(by='NObeyesdad',ascending=False),vmax=1,vmin=-1,cmap='hot')
heatmap.set_title("Correlation Heatmap")

ValueError: could not convert string to float: 'Male'